* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-primario: #80bfba;
  --color-primarioOscuro: #55bbb2;
  --color-secundario: #fecacd;
  --color-secundarioOscuro: #f79fa3;
  --color-terciario: #ffe2aa;
  --color-terciarioOscuro: #ffcc67;
  --color-cuarto: #eeeeee;
  --color-cuartoOscuro: #acacac;
  --color-background: #ffffff;
  --color-content: #efefef;
  --color-borde: #ccc;
  --color-textoMedio: #999;
  --color-texto: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--color-background);
  font-family: Roboto, sans-serif;
}

#container {
  grid-template-areas: "header" "main";
  display: grid;
  grid-template-rows: auto 1fr;
}

#header {
  grid-area: header;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-items: end;
  background: var(--color-primario);
  padding: 8px 32px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

#main {
  grid-area: main;
  display: grid;
}

#header-img,
img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  justify-items: center;
}

ul li a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 32px;
  color: var(--color-terciario);
  text-transform: lowercase;
}

ul li a:hover {
  border-bottom: 10px solid var(--color-secundario);
  background-color: var(--color-secundarioOscuro);
  color: var(--color-content);
  border-radius: 25px 25px 0px 0px;
}

#home {
  background-color: var(--color-background);
  height: 100vh;
  padding: 10em 2em;
}
#productos {
  background-color: var(--color-secundario);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
  position: relative;
}
#contacto {
  background-color: var(--color-terciario);
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

#link-home:hover {
  border-bottom: 10px solid var(--color-background);
  background-color: var(--color-cuartoOscuro);
  color: var(--color-content);
}

#link-productos:hover {
  border-bottom: 10px solid var(--color-secundario);
  background-color: var(--color-secundarioOscuro);
  color: var(--color-content);
}

#link-contacto:hover {
  border-bottom: 10px solid var(--color-terciario);
  background-color: var(--color-terciarioOscuro);
  color: var(--color-content);
}

.btn {
  padding: 10px 5px;
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  outline: none;
  width: 100%;
}

h2 {
  justify-items: center;
  display: grid;
  color: var(--color-texto);
  margin-bottom: 16px;
  font-weight: 300;
}

form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
}

label {
  font-size: 1.2em;
  text-transform: lowercase;
  color: var(--color-texto);
  font-weight: 300;
}

input,
textarea {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-background);
  background-color: transparent;
  font-size: 1.1em;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-textoMedio);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

input:focus,
textarea:focus {
  border-bottom: 6px solid var(--color-background);
}

@media (max-width: 600px) {
  #nav-bar {
    display: none;
  }
}
