$clr-primary: hsl(175, 33%, 63%);
$clr-primary-900: hsl(175, 33%, 33%);
$clr-primary-alpha: hsla(175, 33%, 63%, 0.75);
$clr-secondary: hsl(357, 96%, 89%);
$clr-secondary-900: hsl(357, 96%, 69%);
$clr-third: hsl(40, 100%, 83%);
$clr-third-900: hsl(40, 100%, 70%);
$clr-fourth: hsl(0, 0%, 93%);
$clr-fourth-900: hsl(0, 0%, 67%);
$clr-background-100: hsl(0, 0%, 100%);
$clr-background-900: hsl(0, 0%, 0%);
$clr-content: hsl(0, 0%, 90%);
$clr-title: hsl(0, 0%, 55%);
$clr-border-100: hsl(0, 0%, 100%);
$clr-border-500: hsl(0, 0%, 50%);
$clr-border-900: hsl(0, 0%, 0%);
$clr-text-100: hsl(0, 0%, 100%);
$clr-text-200: hsl(0, 0%, 80%);
$clr-text-300: hsl(0, 0%, 70%);
$clr-text-400: hsl(0, 0%, 60%);
$clr-text-500: hsl(0, 0%, 50%);
$clr-text-600: hsl(0, 0%, 40%);
$clr-text-700: hsl(0, 0%, 30%);
$clr-text-800: hsl(0, 0%, 20%);
$clr-text-900: hsl(0, 0%, 0%);
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  min-height: 100vh;
  padding: 1em;
}

form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}

h2,
h3 {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

h2 {
  font-weight: 500;
  font-size: 2.5em;
  letter-spacing: -2px;
  line-height: 1em;
  margin-bottom: 2rem;
  &::after {
    content: "";
    width: 100px;
    margin-bottom: -0.3em;
    border: 3px solid currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

h3 {
  font-size: 1.8em;
  font-weight: 100;
  letter-spacing: -1px;
  color: $clr-text-600;
}

label {
  font-size: 1.2em;
  text-transform: lowercase;
  color: $clr-text-900;
  font-weight: 300;
}

input,
textarea {
  padding: 5px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid $clr-border-100;
  background-color: transparent;
  font-size: 1.1em;
  color: $clr-text-900;
  width: 100%;
  &::placeholder {
    color: $clr-text-100;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
  }
  &:focus {
    border-bottom: 6px solid $clr-border-100;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  padding: 1rem 0.5rem;
  background-color: $clr-primary;
  color: #fff;
  border: none;
  outline: none;
  width: 250px;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 25px;
  z-index: 11;
  &:hover {
    background-color: $clr-primary-900;
  }
}

#main {
  grid-area: main;
  display: grid;
}

#container {
  grid-template-areas: "header" "main";
  display: grid;
  grid-template-rows: auto 1fr;
}

#header {
  grid-area: header;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-items: end;
  background: $clr-primary-alpha;
  padding: 8px 16px 8px 32px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 20;
  transition: top 0.5s ease-in-out;
}

#header-img,
img {
  width: 100%;
  height: auto;
}

.nav-bar {
  ul {
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-items: center;
    margin-bottom: -2px;
    li {
      a {
        text-decoration: none;
        font-size: 1.5em;
        padding: 1em;
        color: $clr-third;
        text-transform: lowercase;
        &:hover {
          border-bottom: 10px solid $clr-secondary;
          color: $clr-content;
        }
        @include mobile {
          padding: 0.3em;
        }
      }
    }
  }
  @include mobile {
    // display: none;
  }
}

#home {
  background-color: $clr-background-100;
  padding: 10em 2em;
  position: relative;
  h2 {
    color: $clr-title;
    margin-bottom: 0;
  }
  #form-Colors {
    display: grid;
    gap: 2em;
    justify-items: end;
    font-family: "Open Sans", sans-serif;
    .color__selection {
      display: flex;
      gap: 1em;
      flex-direction: column;
      align-items: end;
      .rainbow-color-number-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
        input {
          display: none;
          &:checked + label {
            background: $clr-primary-900;
            font-weight: 600;
            cursor: pointer;
          }
          &:not(:checked) + label:hover,
          label:focus {
            background: $clr-primary-alpha;
            cursor: pointer;
          }
        }
        label {
          color: $clr-text-100;
          background: $clr-primary;
          border-radius: 50%;
          padding: 0.9rem 1.4rem;
        }
      }
      .colors__wrapper {
        z-index: 11;
        button {
          cursor: pointer;
          outline: none;
        }
      }
    }
  }
  @include mobile {
    padding: 7em 1em;
  }
}
.colors__wrapper {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  .color-picker-wrapper {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    @include mobile {
      margin-right: 0.5rem;
    }
  }
  @include mobile {
    gap: 0;
  }
}

#link-home:hover {
  border-bottom: 10px solid $clr-border-100;
  color: $clr-content;
}

#productos {
  background-color: $clr-third;
  display: grid;
  z-index: 1;
  h2 {
    color: $clr-text-700;
  }
  .productos-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33vh, 1fr));
    row-gap: 3rem;
    column-gap: 3rem;
    img {
      border-radius: 25% 5% 15% 5%;
      box-shadow: 0px 0px 4px 1px #333;
      transition: 250ms ease;
      &:hover {
        transform: scale(1.05);
        transform: rotate(-5deg);
        border-radius: 0;
      }
    }
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}

#link-productos:hover {
  border-bottom: 10px solid $clr-third-900;
  color: $clr-third-900;
}
#contacto {
  background-color: $clr-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $clr-text-600;
  }
  form {
    background: $clr-text-500;
    color: $clr-text-100;
    border-radius: 25px;
    padding: 3rem;
    box-shadow: 0 0 10px $clr-border-500;
    label {
      color: $clr-text-100;
    }
    input,
    textarea {
      color: inherit;
      font: inherit;
    }
    .btn {
      width: 100%;
      grid-column: 2 / 3;
    }
    p {
      justify-self: center;
      text-transform: capitalize;
      color: $clr-text-200;
    }
    @include mobile {
      width: 100%;
    }
  }
}
#link-contacto:hover {
  border-bottom: 10px solid $clr-secondary;
  color: $clr-secondary;
}

/* RAINBOW START*/

$rainbow-width: 50vw;
$rainbow-height: 50vw;
$rainbow-growth: 10vw;
$rainbow-delay: 500ms;
$rainbow-delay-growth: 500ms;
$rainbow-shadow-blur: 1.5vw;
$rainbow-first-color: #ff6663;
$rainbow-second-color: #feb144;
$rainbow-third-color: #fdfd97;
$rainbow-fourth-color: #9ee09e;
$rainbow-fifth-color: #9ec1cf;
$rainbow-sixth-color: #7e9db2;
$rainbow-seventh-color: #cc99c9;

@mixin rainbow-config($rainbow-index) {
  width: $rainbow-width + ($rainbow-growth * $rainbow-index);
  height: $rainbow-height + ($rainbow-growth * $rainbow-index);
  animation-delay: $rainbow-delay + ($rainbow-delay-growth * $rainbow-index);
}

.center {
  position: absolute;
  bottom: -4vh;
  left: -4vw;
  ul {
    transition: all 1s ease-in-out;
    li {
      list-style: none;
      border-radius: 100vw;
      border: 5vw solid rgba(0, 0, 0, 0);
      position: absolute;
      top: 100%;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
      animation: animate-rainbow 15s alternate;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

    @for $i from 1 through 7 {
      li:nth-child(#{$i}) {
        @include rainbow-config($i);
      }
    }
  }
  // @include mobile {
  // bottom: 0vh;
  // left: -4vw;
  // }
}

@keyframes animate-rainbow {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(315deg);
  }
}
/* RAINBOW END*/

/* MODAL START*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  .modal-content {
    background-color: $clr-background-100;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid $clr-border-100;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 25px;
    // overflow: hidden;
    form {
      display: grid;
      grid-gap: 0.5rem;
      span {
        font-size: 1.2em;
        color: black;
        font-weight: 300;
      }
      input {
        border-color: $clr-text-500;
        &::placeholder {
          color: $clr-text-500;
        }
      }
      .colors__wrapper {
        gap: 1rem;
      }
      .color-picker-wrapper {
        margin-top: 1em;
      }
      #price {
        font-size: 1.5em;
        font-weight: 900;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        text-align: center;
        border: 4px solid $clr-border-900;
        align-content: center;
        display: grid;
        justify-self: center;
      }
      .btn {
        justify-self: center;

        @include mobile() {
          width: 100%;
        }
      }
    }
    .close {
      color: $clr-text-500;
      float: right;
      font-size: 28px;
      font-weight: bold;
      z-index: 11;
      &:hover,
      focus {
        color: $clr-text-600;
        text-decoration: none;
        cursor: pointer;
      }
    }
    @include tablet() {
      width: 70%;
    }
    @include mobile {
      width: 95%;
      margin-top: 16vh;
    }
  }
}

#order-form-status {
  color: orange;
  font-size: 2rem;
  text-align: center;
}
/* MODAL END*/
